:root {
  --primary-100: #FAF9FC;
  --primary-400: #744EBB;
  --primary-500: #5F3CA1;
  --primary-600: #54358E;

  --pink-500: #FF3B93;
  --yellow-500: #FFBF00;
  --green-500: #00FF84;
  --blue-500: #4DCBD3;

  --gray-400: #5E5570;
  --gray-600: #453F51;
}